<h2 mat-dialog-title>{{ dialogData.action }}</h2>

<ng-container *ngIf="dialogData.action === 'Delete'; else dishFrom">
  <mat-dialog-content> Would you like to delete?</mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-button
      mat-dialog-close
      [mat-dialog-close]="'cancel'"
      type="button"
    >
      No
    </button>
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      [mat-dialog-close]="'confirm'"
      type="button"
    >
      Yes
    </button>
  </mat-dialog-actions>
</ng-container>
<ng-template #dishFrom>
  <mat-dialog-content>
    <app-dish-form (close)="onClose()" [data]="dialogData"></app-dish-form>
  </mat-dialog-content>
</ng-template>
