<mat-toolbar color="primary">
  <span>My Restaurant</span>
  <span class="spacer"></span>
  <div>
    <button mat-button routerLink="/">Menu</button>
    <button
      mat-button
      routerLink="/cart"
      [matBadge]="itemsCount > 0 ? itemsCount : null"
      matBadgeColor="warn"
    >
      Cart
    </button>
    <ng-container *ngIf="user$ | async as user; else login">
      <button mat-button (click)="onLogout()">Logout</button>
    </ng-container>
    <ng-template #login>
      <button mat-button routerLink="/login">Login</button>
    </ng-template>
  </div>
</mat-toolbar>
