.nav {
    display: flex;
    justify-content: flex-end;
}

.spacer {
    flex: 1 1 auto;
}

.mat-mdc-button > .mat-icon {
    margin: 0;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.mat-mdc-menu-trigger {
    display: none;
}

@media (max-width: 659px) {
    .mat-mdc-menu-trigger {
        display: block;
    }

    .nav {
        display: none;
    }
}
