.nav {
    display: flex;
    justify-content: flex-end;
}

.spacer {
    flex: 1 1 auto;
}

.mobile_nav {
    display: none;

    .mat-mdc-button {
        padding: 0;
    }

    .mat-icon {
        margin: 0;
        display: inline-block;
        position: relative;
        vertical-align: top;
        font-size: 30px;
        height: 30px;
        width: 30px;
        color: white;
    }
}

@media (max-width: 659px) {
    .mobile_nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav {
        display: none;
    }
}
